
#wrapper{
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	font-family: "arial", sans-serif;
}

/**********Text for GIT HUB*********/

h1{
	text-align: center;
	padding-bottom: 30px;
}
#left-col{
	width: 450px;
		text-align: left;
	font-size: 20px;
	padding-left: 10px;
	float: left;

}

#right-col{
	width: 450px;
	text-align: left;
	font-size: 20px;
	padding-left: 50px;
	float: left;
}


.a-head{
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 1px;
}

.a-body{
	font-family: sans-serif;
	font-weight: normal;
	padding-bottom: 5px;

}